language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - npm install -g bower
  - bower install
  - python manage.py migrate

# command to run tests
script: python manage.py behave
