dist: trusty
sudo: required

language: python
python:
  - "2.7"

install:
  - export PATH=$PATH:./features/driver/linux
  - npm install -g bower
  - bower install
  - pip install -r requirements.txt
  - python manage.py migrate

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - apt-get install firefox
  - firefox -v

script: python manage.py behave
