{% extends 'base.html' %}
{% load i18n %}
{% block title %}
	<title> {% trans "Lista de produtos" %} </title>
{% endblock %}

{% block body %}
	<h1> {% trans "Como usar o sistema" %} </h1>
	<ul class="flow-text left-align">
		<li>{% trans "Crie uma loja," %} </li>
		<li>{% trans "Para cada loja, crie categorias," %} </li>
		<li>{% trans "Crie produtos," %} </li>
		<li>{% trans "Associe um produto a um preço em uma loja," %} </li>
		<li>{% trans "Imprima em PDF informações da loja(s) desejada(s)." %} </li>
	</ul>
{% endblock %}