{% extends 'base.html' %}
{% load qtyMap %}
{% block title %}
  <title> Home </title>
{% endblock title %}

{% block body %}
  {% include 'menu.html' %}
  <h1 class="indigo-text" style="margin-left: 39%"> Você tem {{request.user.points}} pontos </h1>
  <div class="row">
    {% for category in categories %}
    {% if category.itens.all %}
      <h4 class="center" style="margin-left: 60%; color: rgba(0, 0, 0, 0.54);"> {{category.category_name}} </h4>
      <div class="collection col s6" style="padding-right: 0; padding-left: 0; width: 200%;">
        {% for item in category.itens.all %}
          {% if item.enough %}
            <a href="{% url 'editItemById' item.id %}" class="black-text collection-item"><span class="green-text badge">{{item.enough|qtyMap}}</span>{{item.item_name}}</a>
          {% else %}
            <a href="{% url 'editItemById' item.id %}" class="black-text collection-item"><span class="red-text badge">{{item.enough|qtyMap}}</span>{{item.item_name}}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% endfor %}
  </div>


{% endblock body %}
