<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li>
            <a href="{% url 'new_item' %}" class="btn-floating tooltipped blue" data-position="left"
               data-delay="50" data-tooltip="Novo produto"><i class="material-icons">add</i></a>
        </li>
        <li>
            <a href="{% url 'new_category' %}" class="btn-floating tooltipped green darken-1" data-position="left"
               data-delay="50" data-tooltip="Nova categoria"><i class="material-icons">playlist_add</i></a>
        </li>
        <li>
            <a href="{% url 'pdfGen' %}" class="btn-floating tooltipped purple" data-position="left"
               data-delay="50" data-tooltip="Lista geral"><i class="material-icons">view_list</i></a>
        </li>
        <li>
            <a href="{% url 'listByStore' %}" class="btn-floating tooltipped yellow darken-2" data-position="left"
               data-delay="50" data-tooltip="Lista de uma loja"><i class="material-icons">store</i></a>
        </li>
        {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'sign_up' %}" class="btn-floating tooltipped red darken-3" data-position="left"
               data-delay="50" data-tooltip="Sign Up"><i class="material-icons">person_pin</i></a>
            </li>
            <li>
                <a href="/admin/" class="btn-floating tooltipped orange darken-3" data-position="left"
               data-delay="50" data-tooltip="Dashboard"><i class="material-icons">supervisor_account</i></a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'logout' %}" class="btn-floating tooltipped black" data-position="left"
               data-delay="50" data-tooltip="Log Out"><i class="material-icons">power_settings_new</i></a>
        </li>
    </ul>
</div>
