{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  <title> {% trans "Novo Item" %} </title>
{% endblock title %}


<!--

-->

{% block body %}
<h1 class="center"> {% trans "Novo Item" %} </h1>
<form id="newItemForm" action="" method="post">
  {% csrf_token %}
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">description</i>
        <input id="itemNameInput" name="name" type="text" class="validate">
        <label for="name"> {% trans "Nome do item" %} </label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">equalizer</i>
        <input id="itemQtyInput" name="qty" type="number" class="validate">
        <label for="qty"> {% trans "Quantidade" %} </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">equalizer</i>
        <input id="itemMinQtyInput" name="min_qty" type="number" class="validate">
        <label for="min_qty"> {% trans "Quantidade Mínima" %} </label>
      </div>
    </div>
    {% if name_taken %}
      <div class="row">
        <div class="col s4">
          <p class="left red-text"> {% trans "Nome já em uso."%} </p>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="right input-field col s6">
        <button id="newItemForm" onclick="validate_new_item();" type="button" class="waves-effect waves-light btn">
        <i class="material-icons right">add</i>{% trans "Criar item" %} </button>
      </div>
      <div class="right input-field col s6">
        <a href="{% url 'home' %}" type="button" class="waves-effect waves-light btn"><i class="material-icons right">cancel</i>{% trans "Cancelar" %}</a>
      </div>
    </div>
  </form>
{% endblock body %}
