{% extends 'base.html' %}

{% block title %}
  <title> Novo Preço </title>
{% endblock title %}


<!--

-->

{% block body %}
{% include 'menu.html' %}
<h1 class="center"> Novo Preço </h1>
<form id="newPriceForm" action="" method="post">
  {% csrf_token %}
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">description</i>
        <input id="priceInput" name="price" type="number" class="validate" min = "0" required>
        <label for="name">Preço do produto</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
          <i class="large material-icons prefix">toc</i>
          <select id="itemInput" name="item">
            {% for item in itens %}
              <option value="{{item.id}}">{{item.item_name}}</option>
            {% endfor %}
          </select>
          <label>Produto</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="large material-icons prefix">toc</i>
          <select id="categoryInput" name="category">
            {% for category in categories %}
              <option value="{{category.id}}">{{ category.category_store.store_name }} - {{category.category_name}}</option>
            {% endfor %}
          </select>
          <label>Loja</label>
        </div>
    </div>
    {% if name_taken %}
      <div class="row">
        <div class="col s4">
          <p class="left red-text"> Preço já cadastrado! </p>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="right input-field col s6">
        <button id="newPriceForm" onclick="validate_new_price();" type="button" class="waves-effect waves-light btn">
        <i class="material-icons right">add</i>Cadastrar preço</button>
      </div>
      <div class="right input-field col s6">
        <a href="{% url 'price_list' %}" type="button" class="waves-effect waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
      </div>
    </div>
  </form>
{% endblock body %}
