{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/gif" href="{% static 'favicon.ico'%}" />
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/default.css" %}" />
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "js/default.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js-cookie/src/js.cookie.js" %}"></script>
    {% block title %}
    {% endblock %}
    <!-- Pallet: #e3ebf0, #c1c6c7, #a5baaf, #81a39f, #7f9194 -->
  </head>
  <body style="font-family: 'Lato'; background-color: #e3ebf0;">
    <!-- New item Modal -->
    <div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="newItemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="text-center modal-title" id="myModalLabel">New Item</h2>
          </div>
          <div class="modal-body">
            <form action="{% url 'new_item_new' %}" method="POST">
              {% csrf_token %}
              <div class="text-center form-group">
                <label for="itemNameInput">Item Name</label>
                <input required type="text" class="form-control" name="name" id="itemNameInput" placeholder="Item name"></label>
              </div>
              {% if item_name_taken %}
                <p style="color: red">{{iname}} already exists!</p>
              {% endif %}
              <div class="text-center form-group">
                <label for="categoryInput">Category</label>
                <select required name="category" class="form-control" id="categoryInput">
                  {% for category in categories %}
                    <option value="{{category.id}}">{{category.category_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="text-center form-group">
                <label for="quantityInput">Quantity</label>
                <select name="enough" class="form-control" id="quantityInput">
                    <option value="1">Enough</option>
                    <option value="0">Ended up</option>
                </select>
              </div>
              <hr>
              <div>
                <button type="submit" class="pull-right btn btn-success">Add <span class="glyphicon glyphicon-ok"></button>
              </div>
              <div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End new item modal-->

    <!-- New category Modal -->
    <div class="modal fade" tabindex="-1" id="newCategoryModal" role="dialog" aria-labelledby="newCategoryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="text-center modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">New Category</h2>
          </div>
          <div class="modal-body">
            <form action="{% url 'new_category_new' %}" method="POST">
              {% csrf_token %}
              <div class="text-center form-group">
                <label for="categoryNameInput">Category name</label>
                <input required class="form-control" id="categoryNameInput" name="name" type="text" placeholder="Category Name">
              </div>
              {% if category_name_taken %}
                <p style="color: red;"> {{cname}} already exists! </p>
              {% endif %}
              <hr>
              <div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></button>
                <button type="submit" class="pull-right btn btn-success">Add <span class="glyphicon glyphicon-ok"></span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End new Category Modal -->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="text-center">
        <h4><strong>The Stock Manager &copy;</strong></h4>
        <h6><a href="{% url 'new_logout' %}">Logout</a></h6>
      </div>
    </nav>


    <div role="navigation" style="margin-left:0; padding: 0;" class="fill container">
      <section class="row fill">
        <div style="position: fixed;" class="col-md-3 col-sm-4 col-xs-6 fill">
          <ul id="test" style="background-color: #a5baaf;" class="fill nav nav-pills nav-stacked">
            <a onclick="hideSideNav()" class="pull-right" style="color: inherit; font-size: 25px;" href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
            <li style="clear: both;" role="presentation" class="marginTop text-center"><p>Signed in as: <strong>{{user.username}}</strong><p></li>
            <li role="presentation" class="text-center"><p>E-mail: {{user.email}}<p></li>
            <li class="divider"></li>
            <div class="text-center">
              <h3>Ranking</h4>
            </div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="padding-left: 30px;">#</th>
                  <th style="padding-left: 30px;">Name</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                {% for i in users %}
                <tr class="{% if i.username == user.username %}active{% endif %}">
                  <td style="padding-left: 30px;">
                    {{forloop.counter}}
                  </td>
                  <td>
                    {% if i.username == user.username %}
                      <strong class="text-success">You</strong>
                    {% else %}
                      {{i.username}}
                    {% endif %}
                    {% if forloop.counter == 1 %}
                      <span class="glyphicon glyphicon-star"></span>
                    {% endif %}
                  </td>
                  {% if i.username == user.username %}
                    <td id="userPointsNav">
                      {{i.points}}
                    </td>
                  {% else %}
                    <td>
                      {{i.points}}
                    </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="text-center">
              <button type="button" data-toggle="modal" data-target="#newItemModal" style="min-width: 140px; width: 140px;" class="btn btn-default">New Item <span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div style="margin-top: 5%;" class="text-center">
              <button type="button" style="min-width: 140px; width: 140px;" data-toggle="modal" data-target="#newCategoryModal" class="btn btn-default">New Category <span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div style="margin-top: 5%;" class="text-center">
              <a style="min-width: 140px; width: 140px;" type="button" href="{% url 'pdfGen' %}" class="btn btn-default">Download list <span class="glyphicon glyphicon-download-alt"></span></a>
            </div>
          </ul>
        </div>
        {% block body %}
        {% endblock %}
      </section>
    </div>
    {% if item_name_taken %}
      <script>
        $("#newItemModal").modal();
      </script>
    {% elif category_name_taken %}
      <script>
        $("#newCategoryModal").modal();
      </script>
    {% endif %}
  </body>
