{% extends 'base.html' %}

{% block title %}
  <title> Novo Preço </title>
{% endblock title %}


<!--

-->

{% block body %}
<h1 class="center"> Novo Preço </h1>
<form id="newItemForm" action="" method="post">
  {% csrf_token %}
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">description</i>
        <input id="itemNameInput" name="name" type="text" class="validate">
        <label for="name">Nome do item</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="large material-icons prefix">equalizer</i>
        <select name="enough">
          <option value="1">Suficiente</option>
          <option value="0">Comprar</option>
        </select>
        <label>Quantidade</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
          <i class="large material-icons prefix">toc</i>
          <select id="categoryInput" name="category">
            {% for category in categories %}
              <option value="{{category.id}}">{{category.category_name}}</option>
            {% endfor %}
          </select>
          <label>Categoria</label>
        </div>
    </div>
    {% if name_taken %}
      <div class="row">
        <div class="col s4">
          <p class="left red-text"> Nome já em uso. </p>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="right input-field col s6">
        <button id="newItemForm" onclick="validate_new_item();" type="button" class="waves-effect waves-light btn">
        <i class="material-icons right">add</i>Criar item</button>
      </div>
      <div class="right input-field col s6">
        <a href="{% url 'home' %}" type="button" class="waves-effect waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
      </div>
    </div>
  </form>
{% endblock body %}
